RMS.Centralize.WebSite.Proxy/Service References/LocationProxy/LocationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/LocationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="ListResult" nillable="true" type="q1:LocationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="GetResult" nillable="true" type="q2:LocationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="param" nillable="true" type="q3:JQueryDataTableParamModel" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activeList" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="SearchResult" nillable="true" type="q4:LocationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="m" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mondayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="mondayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="mondayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mondayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tuesdayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="tuesdayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="tuesdayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tuesdayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="wednesdayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="wednesdayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="wednesdayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="wednesdayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="thursdayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="thursdayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="thursdayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="thursdayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fridayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="fridayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="fridayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fridayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="saturdayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="saturdayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="saturdayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="saturdayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sundayEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="sundayWholeDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="sundayStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sundayEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="activeList" type="xs:boolean" />
        <xs:element minOccurs="0" name="updatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="UpdateResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
        <xs:element minOccurs="0" name="updatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="DeleteResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>