RMS.Centralize.WebSite.Proxy/Service References/LocationProxy/LocationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsLocation">
    <xs:sequence>
      <xs:element name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MondayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MondayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MondayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MondayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TuesdayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TuesdayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TuesdayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TuesdayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WednesdayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WednesdayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WednesdayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WednesdayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThursdayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThursdayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThursdayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThursdayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FridayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FridayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FridayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FridayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaturdayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SaturdayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SaturdayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaturdayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SundayEnable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SundayWholeDay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SundayStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SundayEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsLocation" nillable="true" type="tns:RmsLocation" />
  <xs:complexType name="ArrayOfRmsLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsLocation" nillable="true" type="tns:RmsLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsLocation" nillable="true" type="tns:ArrayOfRmsLocation" />
</xs:schema>