RMS.Centralize.WebSite.Proxy/Service References/SummaryReportProxy/SummaryReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.BSL" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSummaryMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="param" nillable="true" type="q1:JQueryDataTableParamModel" />
        <xs:element minOccurs="0" name="txtStartEventDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtEndEventDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ddlMessageGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ddlMessageStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSummaryMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="SearchSummaryMonitoringResult" nillable="true" type="q2:SummaryMonitoringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="GetClientInfoResult" nillable="true" type="q3:ClientInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.BSL" minOccurs="0" name="actionSendType" type="q4:ActionService.ActionSendType" />
        <xs:element minOccurs="0" name="reportID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="ActionRequestResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>