RMS.Centralize.WebSite.Proxy/Service References/SummaryReportProxy/SummaryReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
  <xs:element name="SearchSummaryMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" minOccurs="0" name="param" nillable="true" type="q1:JQueryDataTableParamModel" />
        <xs:element minOccurs="0" name="txtStartMessageDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtEndMessageDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtClientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ddlMessageGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ddlMessageStatus" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSummaryMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="SearchSummaryMonitoringResult" nillable="true" type="q2:SummaryMonitoringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>