RMS.Centralize.WebSite.Proxy/Service References/SummaryReportProxy/SummaryReportService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:complexType name="SummaryMonitoringResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListSummaryMonitorings" nillable="true" type="q1:ArrayOfReportSummaryMonitoring" />
          <xs:element minOccurs="0" name="SummaryMonitoring" nillable="true" type="q1:ReportSummaryMonitoring" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SummaryMonitoringResult" nillable="true" type="tns:SummaryMonitoringResult" />
  <xs:complexType name="ClientInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="q2:ClientInfo" />
          <xs:element minOccurs="0" name="ListClients" nillable="true" type="q2:ArrayOfClientInfo" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientInfoResult" nillable="true" type="tns:ClientInfoResult" />
  <xs:complexType name="SummaryStatusAllClientsInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q3:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListSummaryStatusAllClientsInfos" nillable="true" type="q3:ArrayOfSummaryStatusAllClientsInfo" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SummaryStatusAllClientsInfoResult" nillable="true" type="tns:SummaryStatusAllClientsInfoResult" />
</xs:schema>