RMS.Centralize.WebSite.Proxy/Service References/SummaryReportProxy/SummaryReportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SummaryReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISummaryReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.BSL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISummaryReportService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_SearchSummaryMonitoring_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSummaryMonitoring" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_SearchSummaryMonitoring_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSummaryMonitoringResponse" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_GetClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientInfo" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_GetClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_ActionRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ActionRequest" />
  </wsdl:message>
  <wsdl:message name="ISummaryReportService_ActionRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActionRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ISummaryReportService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummaryReportService/TestConnection" message="tns:ISummaryReportService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummaryReportService/TestConnectionResponse" message="tns:ISummaryReportService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSummaryMonitoring">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummaryReportService/SearchSummaryMonitoring" message="tns:ISummaryReportService_SearchSummaryMonitoring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummaryReportService/SearchSummaryMonitoringResponse" message="tns:ISummaryReportService_SearchSummaryMonitoring_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummaryReportService/GetClientInfo" message="tns:ISummaryReportService_GetClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummaryReportService/GetClientInfoResponse" message="tns:ISummaryReportService_GetClientInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActionRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummaryReportService/ActionRequest" message="tns:ISummaryReportService_ActionRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummaryReportService/ActionRequestResponse" message="tns:ISummaryReportService_ActionRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISummaryReportService" type="tns:ISummaryReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSummaryMonitoring">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/SearchSummaryMonitoring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientInfo">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/GetClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionRequest">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/ActionRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISummaryReportService" type="tns:ISummaryReportService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISummaryReportService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSummaryMonitoring">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/SearchSummaryMonitoring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientInfo">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/GetClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActionRequest">
      <soap:operation soapAction="http://tempuri.org/ISummaryReportService/ActionRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SummaryReportService">
    <wsdl:port name="BasicHttpBinding_ISummaryReportService" binding="tns:BasicHttpBinding_ISummaryReportService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISummaryReportService" binding="tns:BasicHttpsBinding_ISummaryReportService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/SummaryReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>