RMS.Centralize.WebSite.Proxy/Service References/SummaryReportProxy/SummaryReportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsReportSummaryMonitoring">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="RawId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MessageGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MessageDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringProfileDeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SeverityLevelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsReportSummaryMonitoring" nillable="true" type="tns:RmsReportSummaryMonitoring" />
</xs:schema>