RMS.Centralize.WebSite.Proxy/Service References/MessageActionProxy/MessageActionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="JQueryDataTableParamModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="iColumns" type="xs:int" />
      <xs:element minOccurs="0" name="iDisplayLength" type="xs:int" />
      <xs:element minOccurs="0" name="iDisplayStart" type="xs:int" />
      <xs:element minOccurs="0" name="iSortColumn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iSortingCols" type="xs:int" />
      <xs:element minOccurs="0" name="sColumns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sEcho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSearch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JQueryDataTableParamModel" nillable="true" type="tns:JQueryDataTableParamModel" />
  <xs:complexType name="ArrayOfRmsMessageAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsMessageAction" nillable="true" type="tns:RmsMessageAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsMessageAction" nillable="true" type="tns:ArrayOfRmsMessageAction" />
  <xs:complexType name="RmsMessageAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ColorTagEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorTagStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="ReadOnly" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RowNum" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMessageAction" nillable="true" type="tns:RmsMessageAction" />
</xs:schema>