RMS.Centralize.WebSite.Proxy/Service References/MessageActionProxy/MessageActionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
  <xs:complexType name="InitMessageActionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SeverityLevel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitMessageActionResult" nillable="true" type="tns:InitMessageActionResult" />
  <xs:complexType name="MessageActionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q2:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListMessageActions" nillable="true" type="q2:ArrayOfRmsMessageAction" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="Message" nillable="true" type="q3:RmsMessage" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageActionResult" nillable="true" type="tns:MessageActionResult" />
</xs:schema>