RMS.Centralize.WebSite.Proxy/Service References/MessageActionProxy/MessageActionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsMessage">
    <xs:sequence>
      <xs:element name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="MessageGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeverityLevelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReadOnly" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMessage" nillable="true" type="tns:RmsMessage" />
</xs:schema>