RMS.Centralize.WebSite.Proxy/Service References/MessageActionProxy/MessageActionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageActionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
      <xsd:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
      <xsd:import schemaLocation="http://localhost/RMS.Centralize.WebService/MessageActionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageActionService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_InitDataForMeesageAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InitDataForMeesageAction" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_InitDataForMeesageAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitDataForMeesageActionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_InitDataForMeesageEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:InitDataForMeesageEdit" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_InitDataForMeesageEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitDataForMeesageEditResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_UpdateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageActionService_UpdateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageActionService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/TestConnection" message="tns:IMessageActionService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/TestConnectionResponse" message="tns:IMessageActionService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitDataForMeesageAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/InitDataForMeesageAction" message="tns:IMessageActionService_InitDataForMeesageAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/InitDataForMeesageActionResponse" message="tns:IMessageActionService_InitDataForMeesageAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/Search" message="tns:IMessageActionService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/SearchResponse" message="tns:IMessageActionService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/Delete" message="tns:IMessageActionService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/DeleteResponse" message="tns:IMessageActionService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitDataForMeesageEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/InitDataForMeesageEdit" message="tns:IMessageActionService_InitDataForMeesageEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/InitDataForMeesageEditResponse" message="tns:IMessageActionService_InitDataForMeesageEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/Get" message="tns:IMessageActionService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/GetResponse" message="tns:IMessageActionService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageActionService/UpdateMessage" message="tns:IMessageActionService_UpdateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageActionService/UpdateMessageResponse" message="tns:IMessageActionService_UpdateMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageActionService" type="tns:IMessageActionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitDataForMeesageAction">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/InitDataForMeesageAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitDataForMeesageEdit">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/InitDataForMeesageEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageActionService/UpdateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageActionService">
    <wsdl:port name="BasicHttpBinding_IMessageActionService" binding="tns:BasicHttpBinding_IMessageActionService">
      <soap:address location="http://localhost/RMS.Centralize.WebService/MessageActionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>