RMS.Centralize.WebSite.Proxy/Service References/MasterTableProxy/MasterTableService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListColorLabels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListColorLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" minOccurs="0" name="ListColorLabelsResult" nillable="true" type="q1:MasterTableResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>