RMS.Centralize.WebSite.Proxy/Service References/MasterTableProxy/MasterTableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterTableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMasterTableService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMasterTableService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListColorLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:ListColorLabels" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListColorLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListColorLabelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMasterTableService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/TestConnection" message="tns:IMasterTableService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/TestConnectionResponse" message="tns:IMasterTableService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/ListColorLabels" message="tns:IMasterTableService_ListColorLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/ListColorLabelsResponse" message="tns:IMasterTableService_ListColorLabels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMasterTableService" type="tns:IMasterTableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListColorLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMasterTableService" type="tns:IMasterTableService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMasterTableService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListColorLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterTableService">
    <wsdl:port name="BasicHttpBinding_IMasterTableService" binding="tns:BasicHttpBinding_IMasterTableService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMasterTableService" binding="tns:BasicHttpsBinding_IMasterTableService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>