RMS.Centralize.WebSite.Proxy/Service References/MasterTableProxy/MasterTableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterTableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMasterTableService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMasterTableService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListColorLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:ListColorLabels" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListColorLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListColorLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_SearchMessageMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMessageMaster" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_SearchMessageMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMessageMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListMessageMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMessageMaster" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListMessageMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMessageMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_GetMessageMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageMaster" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_GetMessageMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_UpdateMessageMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageMaster" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_UpdateMessageMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessageMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_DeleteMessageMaster_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageMaster" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_DeleteMessageMaster_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageMasterResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListSystemConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSystemConfig" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_ListSystemConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSystemConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_GetSystemConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemConfig" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_GetSystemConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_UpdateSystemConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSystemConfig" />
  </wsdl:message>
  <wsdl:message name="IMasterTableService_UpdateSystemConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSystemConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IMasterTableService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/TestConnection" message="tns:IMasterTableService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/TestConnectionResponse" message="tns:IMasterTableService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/ListColorLabels" message="tns:IMasterTableService_ListColorLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/ListColorLabelsResponse" message="tns:IMasterTableService_ListColorLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMessageMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/SearchMessageMaster" message="tns:IMasterTableService_SearchMessageMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/SearchMessageMasterResponse" message="tns:IMasterTableService_SearchMessageMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMessageMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/ListMessageMaster" message="tns:IMasterTableService_ListMessageMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/ListMessageMasterResponse" message="tns:IMasterTableService_ListMessageMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/GetMessageMaster" message="tns:IMasterTableService_GetMessageMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/GetMessageMasterResponse" message="tns:IMasterTableService_GetMessageMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/UpdateMessageMaster" message="tns:IMasterTableService_UpdateMessageMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/UpdateMessageMasterResponse" message="tns:IMasterTableService_UpdateMessageMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessageMaster">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/DeleteMessageMaster" message="tns:IMasterTableService_DeleteMessageMaster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/DeleteMessageMasterResponse" message="tns:IMasterTableService_DeleteMessageMaster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSystemConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/ListSystemConfig" message="tns:IMasterTableService_ListSystemConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/ListSystemConfigResponse" message="tns:IMasterTableService_ListSystemConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/GetSystemConfig" message="tns:IMasterTableService_GetSystemConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/GetSystemConfigResponse" message="tns:IMasterTableService_GetSystemConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterTableService/UpdateSystemConfig" message="tns:IMasterTableService_UpdateSystemConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterTableService/UpdateSystemConfigResponse" message="tns:IMasterTableService_UpdateSystemConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMasterTableService" type="tns:IMasterTableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListColorLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/SearchMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/GetMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/UpdateMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/DeleteMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/GetSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/UpdateSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMasterTableService" type="tns:IMasterTableService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMasterTableService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListColorLabels">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListColorLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/SearchMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/GetMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/UpdateMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessageMaster">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/DeleteMessageMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/ListSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/GetSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSystemConfig">
      <soap:operation soapAction="http://tempuri.org/IMasterTableService/UpdateSystemConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterTableService">
    <wsdl:port name="BasicHttpBinding_IMasterTableService" binding="tns:BasicHttpBinding_IMasterTableService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMasterTableService" binding="tns:BasicHttpsBinding_IMasterTableService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/MasterTableService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>