RMS.Centralize.WebSite.Proxy/Service References/ClientMonitoringProxy/ClientMonitoringService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientMonitoringService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfClientMonitoringInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientMonitoringInfo" nillable="true" type="tns:ClientMonitoringInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientMonitoringInfo" nillable="true" type="tns:ArrayOfClientMonitoringInfo" />
  <xs:complexType name="ClientMonitoringInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" base="q1:RmsClientMonitoring">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowNum" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientMonitoringInfo" nillable="true" type="tns:ClientMonitoringInfo" />
</xs:schema>