RMS.Centralize.WebSite.Proxy/Service References/ClientMonitoringProxy/ClientMonitoringService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsClientMonitoring">
    <xs:sequence>
      <xs:element name="ClientId" type="xs:int" />
      <xs:element name="MonitoringProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsClientMonitoring" nillable="true" type="tns:RmsClientMonitoring" />
  <xs:complexType name="ArrayOfRmsClientMonitoring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsClientMonitoring" nillable="true" type="tns:RmsClientMonitoring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsClientMonitoring" nillable="true" type="tns:ArrayOfRmsClientMonitoring" />
</xs:schema>