Test.WPFApplication/Service References/AgentTCPProxy/RMS.Agent.BSL.Monitoring.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Agent.BSL.Monitoring.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Agent.BSL.Monitoring.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDeviceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceStatus" nillable="true" type="tns:DeviceStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceStatus" nillable="true" type="tns:ArrayOfDeviceStatus" />
  <xs:complexType name="DeviceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringProfileDeviceID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceStatus" nillable="true" type="tns:DeviceStatus" />
</xs:schema>