Test.WPFApplication/Service References/AgentTCPProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RMS.Agent.Entity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RMS.Agent.WCF.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RMS.Agent.BSL.Monitoring.Models" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Agent.Entity" minOccurs="0" name="remoteCommand" nillable="true" type="q1:RemoteCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Monitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Agent.WCF.Model" minOccurs="0" name="MonitoringResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelfMonitoring">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelfMonitoringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Agent.BSL.Monitoring.Models" minOccurs="0" name="SelfMonitoringResult" nillable="true" type="q3:ArrayOfDeviceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>