Test.ConsoleApplicatoin/Service References/ClientProxy/ClientService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
  <xs:import schemaLocation="http://localhost/RMS.Centralize.WebService/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:simpleType name="GetClientBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClientID" />
      <xs:enumeration value="ClientCode" />
      <xs:enumeration value="IPAddress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetClientBy" nillable="true" type="tns:GetClientBy" />
  <xs:complexType name="ClientResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="Client" nillable="true" type="q2:RmsClient" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListClients" nillable="true" type="q3:ArrayOfRmsClient" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListDeviceType" nillable="true" type="q4:ArrayOfRmsDeviceType" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListDevices" nillable="true" type="q5:ArrayOfRmsDevice" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListMonitoringProfileDevices" nillable="true" type="q6:ArrayOfRmsMonitoringProfileDevice" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="MonitoringProfile" nillable="true" type="q7:RmsMonitoringProfile" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientResult" nillable="true" type="tns:ClientResult" />
</xs:schema>