RMS.Centralize.WebSite.Proxy/Service References/ActionProfileProxy/ActionProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsActionProfile">
    <xs:sequence>
      <xs:element name="ActionProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="ActionProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommandLineId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNum" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsActionProfile" nillable="true" type="tns:RmsActionProfile" />
  <xs:complexType name="ArrayOfRmsActionProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsActionProfile" nillable="true" type="tns:RmsActionProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsActionProfile" nillable="true" type="tns:ArrayOfRmsActionProfile" />
</xs:schema>