RMS.Agent.Proxy/Service References/MonitoringProxy/MonitoringService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IMonitoringService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessages" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddBusinessMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessMessage" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddBusinessMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessageWithAttachFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageWithAttachFiles" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessageWithAttachFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageWithAttachFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessagesWithAttachFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagesWithAttachFiles" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddMessagesWithAttachFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessagesWithAttachFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddBusinessMessageWithAttachFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessMessageWithAttachFiles" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddBusinessMessageWithAttachFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessMessageWithAttachFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddWebsiteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsiteMessage" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_AddWebsiteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsiteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_StartMonitoringEngine_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoringEngine" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_StartMonitoringEngine_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMonitoringEngineResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_StartWebsiteMonitoringEngine_InputMessage">
    <wsdl:part name="parameters" element="tns:StartWebsiteMonitoringEngine" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_StartWebsiteMonitoringEngine_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartWebsiteMonitoringEngineResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoringService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/TestConnection" message="tns:IMonitoringService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/TestConnectionResponse" message="tns:IMonitoringService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddMessage" message="tns:IMonitoringService_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddMessageResponse" message="tns:IMonitoringService_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddMessages" message="tns:IMonitoringService_AddMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddMessagesResponse" message="tns:IMonitoringService_AddMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddBusinessMessage" message="tns:IMonitoringService_AddBusinessMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddBusinessMessageResponse" message="tns:IMonitoringService_AddBusinessMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessageWithAttachFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddMessageWithAttachFiles" message="tns:IMonitoringService_AddMessageWithAttachFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddMessageWithAttachFilesResponse" message="tns:IMonitoringService_AddMessageWithAttachFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessagesWithAttachFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddMessagesWithAttachFiles" message="tns:IMonitoringService_AddMessagesWithAttachFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddMessagesWithAttachFilesResponse" message="tns:IMonitoringService_AddMessagesWithAttachFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessageWithAttachFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddBusinessMessageWithAttachFiles" message="tns:IMonitoringService_AddBusinessMessageWithAttachFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddBusinessMessageWithAttachFilesResponse" message="tns:IMonitoringService_AddBusinessMessageWithAttachFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWebsiteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/AddWebsiteMessage" message="tns:IMonitoringService_AddWebsiteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/AddWebsiteMessageResponse" message="tns:IMonitoringService_AddWebsiteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMonitoringEngine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/StartMonitoringEngine" message="tns:IMonitoringService_StartMonitoringEngine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/StartMonitoringEngineResponse" message="tns:IMonitoringService_StartMonitoringEngine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartWebsiteMonitoringEngine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/StartWebsiteMonitoringEngine" message="tns:IMonitoringService_StartWebsiteMonitoringEngine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/StartWebsiteMonitoringEngineResponse" message="tns:IMonitoringService_StartWebsiteMonitoringEngine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitoringService" type="tns:IMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessages">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddBusinessMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessageWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessagesWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessagesWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessageWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddBusinessMessageWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebsiteMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddWebsiteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMonitoringEngine">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/StartMonitoringEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWebsiteMonitoringEngine">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/StartWebsiteMonitoringEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IMonitoringService" type="tns:IMonitoringService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IMonitoringService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessages">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddBusinessMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessageWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessagesWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddMessagesWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessMessageWithAttachFiles">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddBusinessMessageWithAttachFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebsiteMessage">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/AddWebsiteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMonitoringEngine">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/StartMonitoringEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWebsiteMonitoringEngine">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/StartWebsiteMonitoringEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringService">
    <wsdl:port name="BasicHttpBinding_IMonitoringService" binding="tns:BasicHttpBinding_IMonitoringService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IMonitoringService" binding="tns:BasicHttpsBinding_IMonitoringService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/MonitoringService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>