RMS.Agent.Proxy/Service References/MonitoringProxy/MonitoringService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsReportMonitoringRaw">
    <xs:sequence>
      <xs:element name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringProfileDeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WebsiteMonitoringId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsReportMonitoringRaw" nillable="true" type="tns:RmsReportMonitoringRaw" />
  <xs:complexType name="ArrayOfRmsReportMonitoringRaw">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsReportMonitoringRaw" nillable="true" type="tns:RmsReportMonitoringRaw" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsReportMonitoringRaw" nillable="true" type="tns:ArrayOfRmsReportMonitoringRaw" />
</xs:schema>