RMS.Agent.Proxy/Service References/MonitoringProxy/MonitoringService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRMSAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RMSAttachment" nillable="true" type="tns:RMSAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRMSAttachment" nillable="true" type="tns:ArrayOfRMSAttachment" />
  <xs:complexType name="RMSAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringProfileDeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempFullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RMSAttachment" nillable="true" type="tns:RMSAttachment" />
</xs:schema>