RMS.Centralize.WebSite.Proxy/Service References/WebsiteMonitoringProxy/WebsiteMonitoringService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsWebsiteMonitoring">
    <xs:sequence>
      <xs:element name="WebsiteMonitoringId" type="xs:int" />
      <xs:element name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="WebsiteMonitoringTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebsiteMonitoringProtocolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsWebsiteMonitoring" nillable="true" type="tns:RmsWebsiteMonitoring" />
</xs:schema>