RMS.Centralize.WebSite.Proxy/Service References/WebsiteMonitoringProxy/WebsiteMonitoringService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/WebsiteMonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:complexType name="WebsiteMonitoringResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListWebsiteMonitoringInfos" nillable="true" type="q1:ArrayOfWebsiteMonitoringInfo" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
          <xs:element minOccurs="0" name="WebsiteMonitoringInfo" nillable="true" type="q1:WebsiteMonitoringInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebsiteMonitoringResult" nillable="true" type="tns:WebsiteMonitoringResult" />
</xs:schema>