RMS.Agent.Proxy/Service References/ClientProxy/ClientService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="GetClientBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClientID" />
      <xs:enumeration value="ClientCode" />
      <xs:enumeration value="IPAddress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetClientBy" nillable="true" type="tns:GetClientBy" />
  <xs:complexType name="ClientResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="Client" nillable="true" type="q2:RmsClient" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListClients" nillable="true" type="q3:ArrayOfRmsClient" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListDeviceType" nillable="true" type="q4:ArrayOfRmsDeviceType" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListDevices" nillable="true" type="q5:ArrayOfRmsDevice" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListMonitoringProfileDevices" nillable="true" type="q6:ArrayOfRmsMonitoringProfileDevice" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="MonitoringProfile" nillable="true" type="q7:RmsMonitoringProfile" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientResult" nillable="true" type="tns:ClientResult" />
  <xs:simpleType name="ClientState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maintenance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientState" nillable="true" type="tns:ClientState" />
  <xs:complexType name="ClientInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q8:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="q8:ClientInfo" />
          <xs:element minOccurs="0" name="ListClients" nillable="true" type="q8:ArrayOfClientInfo" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientInfoResult" nillable="true" type="tns:ClientInfoResult" />
  <xs:complexType name="MainAppClientResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q9:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListMainAppClients" nillable="true" type="q9:ArrayOfMainAppClient" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MainAppClientResult" nillable="true" type="tns:MainAppClientResult" />
  <xs:complexType name="LocationResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q10:Result">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListLocations" nillable="true" type="q11:ArrayOfRmsLocation" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="Location" nillable="true" type="q12:RmsLocation" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationResult" nillable="true" type="tns:LocationResult" />
</xs:schema>