RMS.Agent.Proxy/Service References/ClientProxy/ClientService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsClient">
    <xs:sequence>
      <xs:element name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseLocalInfo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferenceClientId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMonitoringAgent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Enable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiredDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsClient" nillable="true" type="tns:RmsClient" />
  <xs:complexType name="ArrayOfRmsClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsClient" nillable="true" type="tns:RmsClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsClient" nillable="true" type="tns:ArrayOfRmsClient" />
  <xs:complexType name="ArrayOfRmsDeviceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsDeviceType" nillable="true" type="tns:RmsDeviceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsDeviceType" nillable="true" type="tns:ArrayOfRmsDeviceType" />
  <xs:complexType name="RmsDeviceType">
    <xs:sequence>
      <xs:element name="DeviceTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsDeviceType" nillable="true" type="tns:RmsDeviceType" />
  <xs:complexType name="ArrayOfRmsDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsDevice" nillable="true" type="tns:RmsDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsDevice" nillable="true" type="tns:ArrayOfRmsDevice" />
  <xs:complexType name="RmsDevice">
    <xs:sequence>
      <xs:element name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsDevice" nillable="true" type="tns:RmsDevice" />
  <xs:complexType name="ArrayOfRmsMonitoringProfileDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsMonitoringProfileDevice" nillable="true" type="tns:RmsMonitoringProfileDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsMonitoringProfileDevice" nillable="true" type="tns:ArrayOfRmsMonitoringProfileDevice" />
  <xs:complexType name="RmsMonitoringProfileDevice">
    <xs:sequence>
      <xs:element name="MonitoringProfileDeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="MonitoringProfileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HighThreshold" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowThreshold" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ComPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BooleanValue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceManagerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMonitoringProfileDevice" nillable="true" type="tns:RmsMonitoringProfileDevice" />
  <xs:complexType name="RmsMonitoringProfile">
    <xs:sequence>
      <xs:element name="MonitoringProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMonitoringProfile" nillable="true" type="tns:RmsMonitoringProfile" />
</xs:schema>