RMS.Agent.Proxy/Service References/ClientProxy/ClientService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IClientService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IClientService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_SetClientState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetClientState" />
  </wsdl:message>
  <wsdl:message name="IClientService_SetClientState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClientStateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IClientService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClientService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ExistingClientCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistingClientCode" />
  </wsdl:message>
  <wsdl:message name="IClientService_ExistingClientCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistingClientCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListMainAppClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMainAppClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListMainAppClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMainAppClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLocation" />
  </wsdl:message>
  <wsdl:message name="IClientService_ListLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/TestConnection" message="tns:IClientService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/TestConnectionResponse" message="tns:IClientService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClient" message="tns:IClientService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClientResponse" message="tns:IClientService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetClientState">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/SetClientState" message="tns:IClientService_SetClientState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/SetClientStateResponse" message="tns:IClientService_SetClientState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Search" message="tns:IClientService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/SearchResponse" message="tns:IClientService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/Update" message="tns:IClientService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/UpdateResponse" message="tns:IClientService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistingClientCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ExistingClientCode" message="tns:IClientService_ExistingClientCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ExistingClientCodeResponse" message="tns:IClientService_ExistingClientCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMainAppClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ListMainAppClient" message="tns:IClientService_ListMainAppClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ListMainAppClientResponse" message="tns:IClientService_ListMainAppClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/ListLocation" message="tns:IClientService_ListLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/ListLocationResponse" message="tns:IClientService_ListLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IClientService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientState">
      <soap:operation soapAction="http://tempuri.org/IClientService/SetClientState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IClientService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClientService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistingClientCode">
      <soap:operation soapAction="http://tempuri.org/IClientService/ExistingClientCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMainAppClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/ListMainAppClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLocation">
      <soap:operation soapAction="http://tempuri.org/IClientService/ListLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IClientService" type="tns:IClientService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IClientService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IClientService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientState">
      <soap:operation soapAction="http://tempuri.org/IClientService/SetClientState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IClientService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClientService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistingClientCode">
      <soap:operation soapAction="http://tempuri.org/IClientService/ExistingClientCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMainAppClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/ListMainAppClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLocation">
      <soap:operation soapAction="http://tempuri.org/IClientService/ListLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/ClientService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IClientService" binding="tns:BasicHttpsBinding_IClientService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>