RMS.Centralize.WebSite.Proxy/Service References/SeverityLevelProxy/SeverityLevelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SeverityLevelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" />
  <xs:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SeverityLevelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" />
  <xs:complexType name="SeverityLevelResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.Centralize.WebService.Model" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListSeverityLevelInfos" nillable="true" type="q1:ArrayOfSeverityLevelInfo" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="ListSeverityLevels" nillable="true" type="q2:ArrayOfRmsSeverityLevel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" minOccurs="0" name="SeverityLevel" nillable="true" type="q3:RmsSeverityLevel" />
          <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SeverityLevelResult" nillable="true" type="tns:SeverityLevelResult" />
</xs:schema>