RMS.Centralize.WebSite.Proxy/Service References/MonitoringProfileProxy/MonitoringProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.Centralize.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RmsMonitoringProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="RmsClientMonitorings" nillable="true" type="tns:ArrayOfRmsClientMonitoring" />
      <xs:element minOccurs="0" name="RmsMonitoringProfileDevices" nillable="true" type="tns:ArrayOfRmsMonitoringProfileDevice" />
      <xs:element name="MonitoringProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveList" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMonitoringProfile" nillable="true" type="tns:RmsMonitoringProfile" />
  <xs:complexType name="ArrayOfRmsClientMonitoring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsClientMonitoring" nillable="true" type="tns:RmsClientMonitoring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsClientMonitoring" nillable="true" type="tns:ArrayOfRmsClientMonitoring" />
  <xs:complexType name="RmsClientMonitoring">
    <xs:sequence>
      <xs:element name="ClientId" type="xs:int" />
      <xs:element name="MonitoringProfileId" type="xs:int" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsClientMonitoring" nillable="true" type="tns:RmsClientMonitoring" />
  <xs:complexType name="ArrayOfRmsMonitoringProfileDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsMonitoringProfileDevice" nillable="true" type="tns:RmsMonitoringProfileDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsMonitoringProfileDevice" nillable="true" type="tns:ArrayOfRmsMonitoringProfileDevice" />
  <xs:complexType name="RmsMonitoringProfileDevice">
    <xs:sequence>
      <xs:element name="MonitoringProfileDeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="MonitoringProfileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HighThreshold" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowThreshold" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ComPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BooleanValue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceManagerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsMonitoringProfileDevice" nillable="true" type="tns:RmsMonitoringProfileDevice" />
  <xs:complexType name="ArrayOfRmsMonitoringProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsMonitoringProfile" nillable="true" type="tns:RmsMonitoringProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsMonitoringProfile" nillable="true" type="tns:ArrayOfRmsMonitoringProfile" />
</xs:schema>