RMS.Centralize.WebSite.Proxy/Service References/SelfTestingProxy/SelfTestingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SelfTestingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISelfTestingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISelfTestingService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestWebConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:TestWebConfig" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestWebConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestWebConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestDatabaseConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnection" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestDatabaseConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestAgentConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestAgentConnection" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestAgentConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestAgentConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestEmailSmsConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestEmailSmsConnection" />
  </wsdl:message>
  <wsdl:message name="ISelfTestingService_TestEmailSmsConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestEmailSmsConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISelfTestingService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfTestingService/TestConnection" message="tns:ISelfTestingService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfTestingService/TestConnectionResponse" message="tns:ISelfTestingService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestWebConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfTestingService/TestWebConfig" message="tns:ISelfTestingService_TestWebConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfTestingService/TestWebConfigResponse" message="tns:ISelfTestingService_TestWebConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfTestingService/TestDatabaseConnection" message="tns:ISelfTestingService_TestDatabaseConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfTestingService/TestDatabaseConnectionResponse" message="tns:ISelfTestingService_TestDatabaseConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestAgentConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfTestingService/TestAgentConnection" message="tns:ISelfTestingService_TestAgentConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfTestingService/TestAgentConnectionResponse" message="tns:ISelfTestingService_TestAgentConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestEmailSmsConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfTestingService/TestEmailSmsConnection" message="tns:ISelfTestingService_TestEmailSmsConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfTestingService/TestEmailSmsConnectionResponse" message="tns:ISelfTestingService_TestEmailSmsConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISelfTestingService" type="tns:ISelfTestingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestWebConfig">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestWebConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAgentConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestAgentConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEmailSmsConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestEmailSmsConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISelfTestingService" type="tns:ISelfTestingService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISelfTestingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestWebConfig">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestWebConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAgentConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestAgentConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEmailSmsConnection">
      <soap:operation soapAction="http://tempuri.org/ISelfTestingService/TestEmailSmsConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelfTestingService">
    <wsdl:port name="BasicHttpBinding_ISelfTestingService" binding="tns:BasicHttpBinding_ISelfTestingService">
      <soap:address location="http://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISelfTestingService" binding="tns:BasicHttpsBinding_ISelfTestingService">
      <soap:address location="https://esn-nb01/RMS.Centralize.WebService/SelfTestingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>